
body {
	font-family: 'Roboto', sans-serif;
	background: #FFFFFF;
	font-size: 14px;
	color: var(--global-color);
}

.list {
	list-style-type: none;
}

img {
	display: inline-block;
	max-width: 100%;
	height: auto;
}

